# データの読み込み

In [1]:
import numpy as np
import pandas as pd

from word_extractor.lexemes_vector import get_most_similar_lexemes, get_verctor_from_word, get_verctor_from_sense_key, get_word_from_vector
from word_extractor.wordnet import get_hypernum, get_hyponym, get_not_similar_hyponym
from utils.dataloader import read_lexemes_dict_and_list, read_mapping

input_words = ['car', 'toughness', 'velocity', 'tire']
synset_filepath = './data/synsets.txt'
lexemes_filepath = './data/lexemes.txt'
mapping_filepath = './data/mapping.txt'
word2vec_filepath = './data/GoogleNews-vectors-negative300.bin'

lexemes_dict, lexemes_list = read_lexemes_dict_and_list(lexemes_filepath)
mapping_dict = read_mapping(mapping_filepath)

/Users/ryogo/.local/share/virtualenvs/keyword_generation-2Tlv01LJ/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
[nltk_data] Downloading package wordnet to /Users/ryogo/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/ryogo/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
word = 'dog'
v1 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
v2 = get_verctor_from_word(get_hypernum(word)[0], lexemes_dict, mapping_dict)
# v3 = get_verctor_from_word(get_hyponym(word)[0], lexemes_dict, mapping_dict)

cos_1_2 = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))
# cos_1_3 = np.dot(v1, v3) / (np.linalg.norm(v1) * np.linalg.norm(v3))

cos_1_2, word, get_hypernum(word)[0]

(0.35675433005184926, 'dog', 'canine')

In [42]:
word = 'pillow'


print(get_hypernum(word)[0])
v1 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
v2 = get_verctor_from_word(get_hypernum(word)[0], lexemes_dict, mapping_dict)
# v3 = get_verctor_from_word(get_hyponym(word)[0], lexemes_dict, mapping_dict)

cos_1_2 = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))
# cos_1_3 = np.dot(v1, v3) / (np.linalg.norm(v1) * np.linalg.norm(v3))

cos_1_2, word, get_hypernum(word)[0]

cushion

(0.2960976843871993, 'pillow', 'cushion')

In [21]:
word = 'chair'
v1 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
v2 = get_verctor_from_word(get_hypernum(word)[0], lexemes_dict, mapping_dict)

cos_1_2 = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))

cos_1_2, word, get_hypernum(word)[0]

(0.31707168075028297, 'chair', 'seat')

In [22]:
word = 'seat'
v1 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
v2 = get_verctor_from_word(get_hypernum(word)[0], lexemes_dict, mapping_dict)
# v3 = get_verctor_from_word(get_hyponym(word)[0], lexemes_dict, mapping_dict)

cos_1_2 = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))
# cos_1_3 = np.dot(v1, v3) / (np.linalg.norm(v1) * np.linalg.norm(v3))

cos_1_2, word, get_hypernum(word)[0]

(0.20233682902440786, 'seat', 'space')

In [26]:
word = 'desk'
v1 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
v2 = get_verctor_from_word(get_hypernum(word)[0], lexemes_dict, mapping_dict)
# v3 = get_verctor_from_word(get_hyponym(word)[0], lexemes_dict, mapping_dict)

cos_1_2 = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))
# cos_1_3 = np.dot(v1, v3) / (np.linalg.norm(v1) * np.linalg.norm(v3))

word, get_hypernum(word)[0], cos_1_2

('desk', 'table', 0.29897099052451775)

In [28]:
word = 'desk'
v1 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
v2 = get_verctor_from_word(word, lexemes_dict, mapping_dict)
# v3 = get_verctor_from_word(get_hyponym(word)[0], lexemes_dict, mapping_dict)

cos_1_2 = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))
# cos_1_3 = np.dot(v1, v3) / (np.linalg.norm(v1) * np.linalg.norm(v3))

word, word, cos_1_2

('desk', 'desk', 0.9999999999999999)

# 掃除機(vaccum cleaner)

In [145]:
lof_df[:20]

    count  function  id           label  is_selected
0       1         0   0  vaccum_cleaner        False
1       1         0   1             fun        False
2       1         1   2       diversion        False
3       1         4   3           enjoy         True
4       1         0   4        cleaning         True
5       1         1   5     improvement        False
6       1         2   6  disinfestation        False
7       1         3   7          washup        False
8       1         4   8        cleaners        False
9       1         0   9            dust        False
10      1         1  10     particulate        False
11      1         2  11      chalk_dust        False
12      1         3  12         fallout        False
13      1         4  13            dust        False
14      1         5  14       scrubbing         True
15      1         5  15    dry_cleaners        False
16      1         5  16            gall        False
17      1         5  17         mopping         True
18      2         0   0           enjoy        False
19      2         1   1        pleasure        False

## 入力

In [136]:
csv_path = 'log/2021-12-28_14-26-37_vaccum_0.csv'
lof_df = pd.read_csv(csv_path)
lof_df[lof_df['function'] == 0]

     count  function  id           label  is_selected
0        1         0   0  vaccum_cleaner        False
1        1         0   1             fun        False
4        1         0   4        cleaning         True
9        1         0   9            dust        False
18       2         0   0           enjoy        False
23       2         0   5        cleaning        False
28       2         0  10       scrubbing        False
33       2         0  15         mopping        False
41       3         0   0          washup        False
46       3         0   5           humor        False
51       3         0  10           rinse        False
54       3         0  13          luster        False
66       4         0   0         message        False
71       4         0   5          review        False
76       4         0  10      brightness        False
81       4         0  15          temper        False
92       5         0   0   communication        False
97       5         0   5       broadcast        False
102      5         0  10       annoyance        False
107      5         0  15         sparkle        False
124      6         0   0         contact        False
129      6         0   5       confusion        False
134      6         0  10          ignite        False
136      6         0  12        cleaning        False

## 上位

In [132]:
lof_df[lof_df['function'] == 1]

     count  function  id                label  is_selected
2        1         1   2            diversion        False
5        1         1   5          improvement        False
10       1         1  10          particulate        False
19       2         1   1             pleasure        False
24       2         1   6          improvement        False
29       2         1  11             cleaning        False
34       2         1  16                scrub        False
42       3         1   1             cleaning        False
47       3         1   6              message         True
52       3         1  11             hair_dye        False
55       3         1  14           brightness         True
67       4         1   1        communication         True
72       4         1   6            appraisal        False
77       4         1  11                light        False
82       4         1  16            annoyance         True
93       5         1   1                  act        False
98       5         1   6              message        False
103      5         1  11  psychological_state        False
108      5         1  16           expression        False
125      6         1   1          interaction        False
130      6         1   6             disorder        False
137      6         1  13          improvement        False

## 下位

In [128]:
lof_df[lof_df['function'] == 2]

     count  function  id           label  is_selected
6        1         2   6  disinfestation        False
11       1         2  11      chalk_dust        False
20       2         2   2   joie_de_vivre        False
25       2         2   7  disinfestation        False
30       2         2  12        swabbing        False
43       3         2   2    turkish_bath        False
48       3         2   7         sarcasm        False
68       4         2   2   phone_message        False
73       4         2   7     stocktaking        False
78       4         2  12           glare        False
94       5         2   2            mail        False
99       5         2   7     rebroadcast        False
104      5         2  12            huff        False
126      6         2   2     eye_contact        False
131      6         2   7         bluster        False
138      6         2  14    dry_cleaning        False

## 下位&類似度低

In [129]:
lof_df[lof_df['function'] == 3]

     count  function  id          label  is_selected
7        1         3   7         washup        False
12       1         3  12        fallout        False
21       2         3   3  joie_de_vivre        False
26       2         3   8         washup         True
31       2         3  13       swabbing        False
44       3         3   3    sponge_bath        False
49       3         3   8            fun        False
69       4         3   3      broadcast         True
74       4         3   8    stocktaking        False
79       4         3  13         luster        False
95       5         3   3        contact         True
100      5         3   8       newscast        False
105      5         3  13       pinprick        False
127      6         3   3          brush         True
132      6         3   8          chaos        False
139      6         3  15         washup        False

## 類似度高

In [134]:
lof_df[lof_df['function'] == 4]

     count  function  id          label  is_selected
3        1         4   3          enjoy         True
8        1         4   8       cleaners        False
13       1         4  13           dust        False
22       2         4   4          enjoy        False
27       2         4   9          clean        False
32       2         4  14        rinsing        False
35       2         4  17            mop        False
45       3         4   4       toweling        False
50       3         4   9         review         True
53       3         4  12        shampoo        False
56       3         4  15       radiance        False
70       4         4   4        message        False
75       4         4   9           fall        False
80       4         4  14     effulgence        False
83       4         4  17          chafe        False
96       5         4   4     saturnalia        False
101      5         4   9       telecast        False
106      5         4  14  embarrassment        False
109      5         4  17          spark        False
128      6         4   4      placement        False
133      6         4   9    disturbance        False
135      6         4  11       rekindle        False
140      6         4  16        cleaned        False

## 類推

In [135]:
lof_df[lof_df['function'] == 5]

     count  function  id              label  is_selected
14       1         5  14          scrubbing         True
15       1         5  15       dry_cleaners        False
16       1         5  16               gall        False
17       1         5  17            mopping         True
36       2         5  18              humor         True
37       2         5  19          cleansing        False
38       2         5  20              rinse         True
39       2         5  21                bag        False
40       2         5  22             luster         True
57       3         5  16              stuff        False
58       3         5  17              terry        False
59       3         5  18               zany        False
60       3         5  19               fall        False
61       3         5  20            cunning        False
62       3         5  21              henna        False
63       3         5  22  laundry_detergent        False
64       3         5  23             temper         True
65       3         5  24               shit        False
84       4         5  18            stuffer        False
85       4         5  19             letter        False
86       4         5  20             border        False
87       4         5  21               glow        False
88       4         5  22              value        False
89       4         5  23            chafing        False
90       4         5  24           dullness        False
91       4         5  25            sparkle         True
110      5         5  18          enactment        False
111      5         5  19          simulcast        False
112      5         5  20          confusion         True
113      5         5  21           vexation        False
114      5         5  22               miff        False
115      5         5  23           puniness        False
116      5         5  24      mortification        False
117      5         5  25         peroration        False
118      5         5  26         sportscast        False
119      5         5  27              light        False
120      5         5  28               blow        False
121      5         5  29               shit        False
122      5         5  30              verve        False
123      5         5  31             ignite         True
141      6         5  17          interplay        False
142      6         5  18              copse        False
143      6         5  19     demoralisation        False
144      6         5  20        pandemonium         True
145      6         5  21          scrubbing        False
146      6         5  22           reignite        False
147      6         5  23             kindle        False
148      6         5  24         disruption        False
149      6         5  25       dry_cleaners        False
150      6         5  26          shemozzle        False

## 一回目

0：入力  
1：上位  
2：下位  
3：下位・類似低  
4：類似高  
5：類推

In [140]:
lof_df[lof_df['count'] == 1].sort_values('function')

    count  function  id           label  is_selected
0       1         0   0  vaccum_cleaner        False
1       1         0   1             fun        False
4       1         0   4        cleaning         True
9       1         0   9            dust        False
2       1         1   2       diversion        False
5       1         1   5     improvement        False
10      1         1  10     particulate        False
6       1         2   6  disinfestation        False
11      1         2  11      chalk_dust        False
7       1         3   7          washup        False
12      1         3  12         fallout        False
13      1         4  13            dust        False
8       1         4   8        cleaners        False
3       1         4   3           enjoy         True
14      1         5  14       scrubbing         True
15      1         5  15    dry_cleaners        False
16      1         5  16            gall        False
17      1         5  17         mopping         True

## ２回目

In [139]:
lof_df[lof_df['count'] == 2].sort_values('function')

    count  function  id           label  is_selected
18      2         0   0           enjoy        False
33      2         0  15         mopping        False
28      2         0  10       scrubbing        False
23      2         0   5        cleaning        False
34      2         1  16           scrub        False
24      2         1   6     improvement        False
29      2         1  11        cleaning        False
19      2         1   1        pleasure        False
25      2         2   7  disinfestation        False
30      2         2  12        swabbing        False
20      2         2   2   joie_de_vivre        False
26      2         3   8          washup         True
21      2         3   3   joie_de_vivre        False
31      2         3  13        swabbing        False
27      2         4   9           clean        False
32      2         4  14         rinsing        False
35      2         4  17             mop        False
22      2         4   4           enjoy        False
39      2         5  21             bag        False
36      2         5  18           humor         True
37      2         5  19       cleansing        False
38      2         5  20           rinse         True
40      2         5  22          luster         True

## 3

In [142]:
lof_df[lof_df['count'] == 3].sort_values('function')

    count  function  id              label  is_selected
41      3         0   0             washup        False
46      3         0   5              humor        False
51      3         0  10              rinse        False
54      3         0  13             luster        False
42      3         1   1           cleaning        False
47      3         1   6            message         True
55      3         1  14         brightness         True
52      3         1  11           hair_dye        False
43      3         2   2       turkish_bath        False
48      3         2   7            sarcasm        False
44      3         3   3        sponge_bath        False
49      3         3   8                fun        False
56      3         4  15           radiance        False
53      3         4  12            shampoo        False
50      3         4   9             review         True
45      3         4   4           toweling        False
57      3         5  16              stuff        False
58      3         5  17              terry        False
59      3         5  18               zany        False
60      3         5  19               fall        False
61      3         5  20            cunning        False
62      3         5  21              henna        False
63      3         5  22  laundry_detergent        False
64      3         5  23             temper         True
65      3         5  24               shit        False

## 4

In [143]:
lof_df[lof_df['count'] == 4].sort_values('function')

    count  function  id          label  is_selected
66      4         0   0        message        False
81      4         0  15         temper        False
71      4         0   5         review        False
76      4         0  10     brightness        False
67      4         1   1  communication         True
82      4         1  16      annoyance         True
77      4         1  11          light        False
72      4         1   6      appraisal        False
78      4         2  12          glare        False
73      4         2   7    stocktaking        False
68      4         2   2  phone_message        False
74      4         3   8    stocktaking        False
79      4         3  13         luster        False
69      4         3   3      broadcast         True
75      4         4   9           fall        False
83      4         4  17          chafe        False
70      4         4   4        message        False
80      4         4  14     effulgence        False
90      4         5  24       dullness        False
84      4         5  18        stuffer        False
85      4         5  19         letter        False
86      4         5  20         border        False
87      4         5  21           glow        False
88      4         5  22          value        False
89      4         5  23        chafing        False
91      4         5  25        sparkle         True

# ドライヤー(dryer)